<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceConnectionString" value="Data Source=X;User Id=SOURCEDB;Password=X;"></add>
    <add key="DestConnectionString" value="Data Source=X;User Id=DESTDB;Password=X;"></add>
    <add key="SourceUser" value="SOURCEDB"></add>
    <add key="DestUser" value="DESTDB"/>
  </appSettings>
</configuration>